

<div ng-if="!vm.error" ng-cloak layout-gt-sm="row" layout="column">
  <div flex-gt-sm="50" flex>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Tech exercise demo</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-subheader class="md-no-sticky">Node > Nodejs Commits</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="commit in vm.commitDetails | orderBy:'author.login'" ng-click="null">
          <img ng-src="{{commit.author.avatar_url}}" class="md-avatar" alt="{{commit.author.login}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ commit.author.login }}</h3>
            <itemlist sha="commit.sha"></itemlist>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
</div>
</div>
<div ng-if="vm.error">
  <h3>Error fetching data... Please retry again</h3>
</div>
