$sidenav-mobile-width: 320px;
$sidenav-desktop-width: 320px;

// import angular material scss
@import "angular-material/angular-material.scss";

// import module scss
@import "lonceldemo/demo";

body {
  color: #212121;
}

// set template font family
button, select, html, textarea, input {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

// import app scss

@import "scss/material-backgrounds";

// Add your CSS here

.displayRed{
  color:red !important;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
